.container {
  margin:10px;
  background-color:beige;
  padding: 30px;
}

h1 {
  color:chocolate;
 
}
.jobs{
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}

.job{
  border: 1px solid gray;
  border-radius: 2px;
  width: 600px;
  height: 100px;
  background-color: white;
  padding:20px;
}


button {
  margin-top:10px;
  border:none;
  padding:3px; 
  border-radius: 2px;
  background-color: chocolate;
  color:white;
  cursor: pointer;
}

